.root
{
    -fx-background-color:silver;

}

.default-chart-series-lines { -fx-stroke-width: 1px; }




/*styl pro vsechny komponenty pojmenovane touto tridou*/
.graf {
    -fx-legend-side: right;
    -fx-cursor: crosshair;
    -fx-series-series-lines-width: 1px;
}

.chart-series-line{
    -fx-stroke-width: 1.5px;
}


/*# idenetifikator id pro jednu konkretni komponentu*/
#chartCorrectionData {
    -fx-vertical-grid-lines-visible: false;
}